
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for item in object_list %}

    <div class="card mb-3" style="max-width: 100%;">
      <div class="row g-0">
      {% if item.image %}
        <div class="col-md-4">
            <a href="{{ item.image.url }}">
                <img src="{{ item.image.url }}" class="img-fluid rounded-start" alt="Картинка">
            </a>
        </div>
      {% else %}
        <div class="col-md-4">
            <img src="{% static 'img/default_image.jpg' %}" class="img-fluid rounded-start" alt="Стандартная картинка">
        </div>
      {% endif %}
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text"><small class="text-muted">Автор: {{ item.author.get_full_name }} - {{ item.date_added }} {% if item.date_added != item.date_updated %} (обновлено: {{ item.date_updated }}) {% endif %}</small></p>
            <p class="card-text">{{ item.text|safe }}</p>
            <p class="card-text"><small class="text-muted">Комментарии [{{ item.post_comments.all.count }}]</small></p>
            <p class="card-text"><a href="{% url 'post_detail' item.id %}"><button class="btn btn-secondary">Заглянуть в пост и комментарии</button></a></p>
              {% if item.author == request.user %}
                <a href="{% url 'board_update' item.id %}"><button class="btn btn-secondary">Обновить пост</button></a>
                <a href="{% url 'board_delete' item.id %}"><button class="btn btn-secondary">Удалить пост</button></a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>

{% endfor %}
{% endblock content %}