{% extends 'base.html' %}

{% block content %}

    <h2><span class="badge bg-secondary">Это пробное приложение, каждый из Вас может изменить здесь всё что угодно.</span></h2>
    <hr>

{% for item in object_list %}
    Автор: {{ item.author.get_full_name }} - {{ item.date_added }}
    <h2>{{ item.title }}</h2>
    {% if item.image %}<img height="400" src="{{ item.image.url }}"><br><br>{% endif %}
    {{ item.text }}<br><br>
    {% if item.author == request.user %}
    <a href="{% url 'board_delete' item.id %}"><button>Удалить сообщение</button></a>
    {% endif %}
    <hr>
{% endfor %}

{% endblock content %}