{% extends 'base.html' %}

{% block content %}
<div  class="card">
    <div  class="card-body">
        <h4  class="card-title">Смена вашего пароля</h4>
        <form  method="post">
            {% csrf_token %}
            {% if form.old_password.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ form.old_password.errors }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <p>{{ form.old_password.label }}
            {{ form.old_password }}</p>

            {% if form.new_password2.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ form.new_password2.errors }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <p>{{ form.new_password1.label }}
            {{ form.new_password1 }}</p>

            <p>{{ form.new_password2.label }}
            {{ form.new_password2 }}</p>

            <p>Новый пароль должен содержать больше чем 4 символа</p>
        <button  type="submit"  class="btn btn-success">Сменить пароль</button>
        </form>
    </div>
</div>
{% endblock content %}